.loginInputs{
    margin: 2% 2% 2% 2%;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
}


.backgroundImage{
    background-image: url("https://images5.alphacoders.com/712/thumb-1920-712430.jpg");
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.formLogin{
    background-color: #E5EAF5;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
}

.formSignInOut{
    background-color: #E5EAF5;
    display: grid;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
}

.fontDetails{
    color: #000000;
    opacity: 0.7;
}

.straightLine{
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.straightLine:after, .straightLine:before{
    content: "";
    border-top: 1px solid black;
}

