@import 'classes.css';
@import 'authuser.css';

body{
    font-family: 'Poppins', sans-serif;
    background-color: #494D5F;
    font-size: 14px;
    margin: 0;
}

li{
    list-style-type: none;
    margin: 4% 4% 4% 4%;
}

header{
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-left: 200px;
    padding-right: 200px;
}

main{
    padding-top: 1.5%;
}

html{
    width: 100%;
}

footer{
    background-color: #E5EAF5;
    margin: 2% 22% 0 22%;
    text-align: center;
    width: 100%;
    height: 1%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-right: 22%;
    padding-left: 22%;
}


