.movieFavoritesTitle{
    opacity: 0.5;
    font-size: 22px;
    width: 220px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
    border: 2px solid #FFFFFF;
    margin: 1% 5% 5% 18%;
}

.movieFavoritesDiv{
    margin: 5% 2% 2% 2%;
    border-radius: 20px;
    border: 1px solid #6610F2
}

.movieFavoritesImage{
    width: 220px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
    margin: 5% 5% 1% 18%;
    border: 2px solid #FFFFFF;
}

.mainBox{
    background-color: #E5EAF5;
    border: 1px solid #420E5B;
    padding-bottom: 1%;
}

.headerSite{
    background-color: #E5EAF5;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    border: 1px solid #420E5B;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.imageFourtypx{
    opacity: 0.5;
    width: 40px;
    height: 40px;
}

.searchBarCarac{
    background-color: #FFFFFF;
    color: #6610F2;
    font-weight: bolder;
    margin-left: 20px;
    border-color: #6610F2;
    text-transform: capitalize;
}

.imageMovieInfo{
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.capitalizeText{
    text-transform: capitalize;
}

.movieImagePoster{
    height: 265px;
    width: 200px;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #E5EAF5;
    padding: 2% 2% 2% 2%;

}

.movieImageDiv{
    width: 220px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
    margin-right: 5%;
}

.movieInfo{
    margin: 2% 2% 2%;
    text-transform: capitalize;
}

.boxTitleMovie{
    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 3%;
}

.moviePlot{
    padding:2% 2% 2% 8%;
    background-color: #E5EAF5;
    border-radius: 20px;
}

.footerSite{
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    padding-top: 0.5%;
}

.colorFontOpacity{
    color: #000000;
    opacity: 0.5;
}
