.movieFavoritesTitle{
    opacity: 0.5;
    font-size: 22px;
    width: 220px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
    border: 2px solid #000000;
    margin: 1% 5% 5% 18%;

}

.movieFavoritesDiv{
    margin: 5% 2% 2% 2%;
    border-radius: 20px;
}

.movieFavoritesImage{
    width: 220px;
    height: 300px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
    margin: 5% 5% 1% 18%;
    border: 2px solid #FFFFFF;

}