body{
    font-family: 'Poppins', sans-serif;
    background-color: #494D5F;
    font-size: 14px;
    margin: 0;
}

li{
    list-style-type: none;
    margin: 4% 4% 4% 4%;
}

header{
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
    font-size: 42px;
}

main{
    padding-top: 2%;
}

footer{
    background-color: #E5EAF5;
    margin: 2% 22% 0 22%;
    text-align: center;
    width: 100%;
    height: 1%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-right: 22%;
    padding-left: 22%;
}

.mainBox{
    background-color: #E5EAF5;
    border: 1px solid #420E5B;
    padding-bottom: 1%;

}

.headerSite{
    background-color: #E5EAF5;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    border: 1px solid #420E5B;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.titleBox{
    padding-left: 200px;
    padding-right: 200px;
}

.imageFourtypx{
    opacity: 0.5;
    width: 40px;
    height: 40px;
}

.searchBarCarac{
    background-color: #FFFFFF;
    color: #6610F2;
    font-weight: bolder;
    margin-left: 20px;
    border-color: #6610F2;
}

.imageMovieInfo{
    opacity: 0.5;
    width: 20px;
    height: 20px;
}

.movieImagePoster{
    height: 265px;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #E5EAF5;

}

.movieImageDiv{
    width: 220px;
    text-align: center;
    border-radius: 20px;
    background-color: #E5EAF5;
}

.movieInfo{
    margin: 2% 2% 2%;
}

.boxTitleMovie{
    font-weight: bolder;
    text-align: center;
    font-size: 32px;
}

.moviePlot{
    padding:2% 2% 2% 8%;
    background-color: #E5EAF5;
    border-radius: 20px;
}

.footerSite{
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    padding-top: 0.5%;
}

.colorFontOpacity{
    color: #000000;
    opacity: 0.5;
}

