<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}" />
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x.png" th:href="@{/images/icons/head_icon.png}" />
        <title>Movie Catalog</title>
    </head>

    <body>

    <div class="titleBox">
        <div class="headerSite">
            <header>
                <img th:src="@{/images/icons/head_icon.png}" alt="" class="imageFourtypx">
                <span>
                    Movie Catalog
                </span>
            </header>
        </div>
    </div>

    <main class="form-floating">
        <div class="container border border-2 odd-row-color rounded rounded-3 mainBox">
            <div class="row">

                <form th:action="@{/home}" method="post">

                    <div style="margin-top: 2%" class="col text-center">
                        <span>
                            <img class="imageFourtypx" th:src="@{/images/icons/title_movie_search.png}" alt="">
                            <label>
                                <input type="text" name="filmTitle" placeholder="Enter your movie title"  class="searchBarCarac btn btn-outline-light"/>
                            </label>
                            <button class="btn btn-outline-light searchBarCarac" type="submit">Search</button>
                        </span>
                    </div>

                </form>

                <div class="row" style="margin-top: 2%;">

                    <div class="col">
                        <p class="boxTitleMovie">Movie Info</p>
                        <ul class="border border-2 rounded text-start h5 movieInfo">
                            <li>
                                <img class="imageMovieInfo" th:src="@{/images/icons/icon_title.png}" alt=""/>
                                Title: <span th:text="${movie.filmTitle}"></span>
                            </li>

                            <li>
                                <img class="imageMovieInfo" th:src="@{/images/icons/icon_date.png}" alt=""/>
                                Year: <span th:text="${movie.filmYear}"></span>
                            </li>

                            <li>
                                <img class="imageMovieInfo" th:src="@{/images/icons/theater_302260.png}" alt=""/>
                                Genres: <span th:text="${movie.filmGenre}"></span></li>
                            <li>

                                <img class="imageMovieInfo" th:src="@{/images/icons/icon_tv.png}" alt=""/>
                                Type: <span th:text="${movie.filmType}"></span>
                            </li>

                            <li>
                                <img class="imageMovieInfo" th:src="@{/images/icons/icon_map.png}" alt=""/>
                                Country: <span th:text="${movie.filmCountry}"></span>
                            </li>

                            <li>
                                <img class="imageMovieInfo" th:src="@{/images/icons/icon_star.png}" alt=""/>
                                Rating: <span th:text="${movie.filmRating}"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <p class="boxTitleMovie">Movie</p>
                        <div class="movieInfo border border-2 rounded row">
                            <div class="col border border-2 round rounded text-center">
                             <img class="movieImagePoster" th:src="${movie.posterURL}" alt="">
                            </div>
                            <div class="col border border-2 round rounded">
                                <p class="h4 moviePlot">Plot:</p>
                                <span class="h5 moviePlot" th:text="${movie.filmPlot}"></span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="container">
        <div class="row">
            <div class="col footerSite">
                <p>Web App made for Educational Purposes</p>
            </div>

            <div class="col footerSite">
                <p>By Christian Pereira</p>
            </div>
        </div>
    </footer>
</body>
</html>